<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MoleRehabilitation.configuracion_x0028_1024x768_x0029_" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Research.Kinect" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.45" newVersion="1.0.0.45"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <MoleRehabilitation.configuracion_x0028_1024x768_x0029_>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </MoleRehabilitation.configuracion_x0028_1024x768_x0029_>
 </applicationSettings>
</configuration>
